<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="avatar.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Hello!</ion-card-subtitle>
        <ion-card-title>My name is Ivan Alejandro Martinez-Arias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>I am 19 years old and my birthday is April 27th.</p>
        <p>My high school was in Perris, CA and it was called "California Military Institute".
            The currect college I go to is the University of California, Santa Cruz and I will
            be a 2nd year in the Fall of 2019.
        </p>
        <p>
            I play games for the most part, as well as exercise, play a couple
            of sports, and spend time outside or with family/friends.
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
