<ion-header>
  <ion-toolbar>
    <ion-title>
      Friends
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-card class="welcome-card">
        <ion-card-header>
          <ion-card-subtitle>Ivan M's Friends</ion-card-subtitle>
          <ion-card-title>Here are a couple of my friends about who they are and what they are doing.</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Ivan Jimenez: U.S. Army</p>
          <p>Ramon Quintero: US. Army Reserves</p>
          <p>Stephan Martin: UCSC Computer Science</p>
          <p>Hanna Alanizi: UCSC Computer Engineering</p>
          <p>Alezza Del Real: UCR Linguistics</p>
          <p>Jesus Chavoya: CSUSB Music</p>
          <p>Anthon Castaneda: U.S. Airforce</p>
        </ion-card-content>
      </ion-card>
</ion-content>
